@import "../../app.less";

.s1 {
  position: relative;
  image {
    width: 100%;
  }
  view {
    position: absolute;
    width: 100%;
    line-height: 20px;
    height: 20px;
    top: 62.6%;
    text-align: center;
    color: #fff961;
    border: @border-test;
  }
}

.s2 {
  position: relative;
  image {
    width: 100%;
  }
  .one {
    position: absolute;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    top: 24%;
    color: #5b3715;
    text-align: center;
    letter-spacing: 1px;
    border: @border-test;
  }
  .two {
    position: absolute;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
    top: 32%;
    color: #5b3715;
    text-align: center;
    letter-spacing: 1px;
    border: @border-test;
  }
  .three {
    position: absolute;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    top: 56.9%;
    color: #fff961;
    text-align: center;
    border: @border-test;
  }
  .four {
    position: absolute;
    width: 44%;
    height: 13%;
    left: 31.5%;
    top: 2.5%;
    border: @border-test;
    display: flex;
    justify-content: space-between;
    image {
      width: 30%;
      height: 100%;
    }
    .address {
      width: 90%;
      height: 100%;
      padding: 5px;
      font-size: 12px;
      line-height: 14px;
      border: @border-test;
    }
  }
  .five {
    position: absolute;
    width: 14%;
    height: 6%;
    left: 30%;
    top: 69.5%;
    border: @border-test;
  }
  .six {
    position: absolute;
    width: 14%;
    height: 6%;
    left: 49%;
    top: 69.5%;
    border: @border-test;
  }
}

.s3 {
  margin-top: -30px;
  image {
    display: block;
    width: 100%;
  }
}

.s4 {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  .item {
    position: relative;
    width: 30%;
    margin-left: 2.5%;
    .bg {
      width: 100%;
    }
    .one {
      position: absolute;
      width: 40%;
      height: 33%;
      border: @border-test;
      left: 30%;
      top: 9%;
      image {
        width: 100%;
        height: 100%;
      }
    }
    .two {
      position: absolute;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      top: 50%;
      color: red;
      border: @border-test;
    }
    .three {
      position: absolute;
      width: 100%;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      top: 73%;
      color: #F7E5B7;
      border: @border-test;
    }
  }
}

.s5 {
  margin-top: -10px;
  image {
    display: block;
    width: 100%;
  }
}

.s6 {
  background-color: #EB432B;
  .item {
    padding: 10px 15px;
    display: flex;
    border-bottom: 1px solid #E43F2D;
    .one {
      image {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    }
    .two {
      position: relative;
      height: 50px;
      padding: 5px 10px;
      image:nth-child(1) {
        display: block;
        width: 100px;
        height: 40px;
      }
      text:nth-child(2) {
        color: #444;
        position: absolute;
        font-size: 15px;
        line-height: 50px;
        top: 0;
        left: 39px;
      }
      image:nth-child(3) {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 15px;
        right: 25px;
      }
    }
    .three {
      width: 90%;
      text-align: right;
      font-size: 14px;
      line-height: 25px;
      .top {
        color: white;
      }
      .down {
        letter-spacing: 1px;
        color: white;
        text:nth-child(2) {
          color: #FDED64;
        }
      }
    }
  }
}

.s7 {
  background-color: #EB432B;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  color: #F28D8B;
}

.s8 {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  image {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    margin-left: -45px;
    margin-top: -90px;
    text-align: center;
  }
  text.countdown{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -115px;
    color: white;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1.5px;
  }
  text.button {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 14px;
  }
}